/*:root {
ajouter tout élement relatif à la page globale en root
}*/


body {
  margin: 0px;
}




/* The prefers-color-scheme CSS media feature is used to detect if a user has requested light or dark color themes. 
A user indicates their preference through an operating system setting (e.g. light or dark mode) or a user agent setting */

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
}
